### gitignore settings for a racket project:
*~
\#*
.\#*
.DS_Store
compiled/
/doc/

### original gitignore settings:
# 7-sketches/7-sketches.pdf
# 7-sketches/template.pdf
/7-sketches/auto/
/7-sketches/template.toc
/7-sketches/7-sketches.tex
/7-sketches/ltximg/
7-sketches/template.aux
7-sketches/template.fdb_latexmk
7-sketches/template.fls
7-sketches/template.idx
7-sketches/template.ilg
7-sketches/template.ind
7-sketches/template.log
7-sketches/template.out
7-sketches/template.synctex.gz

# basic-cat/BasicCategoryTheory.pdf
basic-cat/BasicCategoryTheory.aux
basic-cat/BasicCategoryTheory.fdb_latexmk
basic-cat/BasicCategoryTheory.fls
basic-cat/BasicCategoryTheory.idx
basic-cat/BasicCategoryTheory.ilg
basic-cat/BasicCategoryTheory.log
basic-cat/BasicCategoryTheory.out
basic-cat/BasicCategoryTheory.synctex.gz
basic-cat/BasicCategoryTheory.thm
basic-cat/BasicCategoryTheory.toc
basic-cat/adj.aux
basic-cat/arl.aux
basic-cat/arxivpreface.aux
basic-cat/auto/
basic-cat/cfnt.aux
basic-cat/cfnt.fdb_latexmk
basic-cat/cfnt.fls
basic-cat/cfnt.log
basic-cat/front.aux
basic-cat/gaft.aux
basic-cat/intro.aux
basic-cat/lims.aux
basic-cat/notation.aux
basic-cat/preface.aux
basic-cat/reading.aux
basic-cat/rep.aux
basic-cat/sets.aux
basic-cat/titlepages.aux
basic-cat/composable.pdf
basic-cat/composed.pdf
basic-cat/creation.pdf
basic-cat/curry.pdf
basic-cat/embedding.pdf
basic-cat/function.pdf
basic-cat/set.pdf
basic-cat/sphere_colim.pdf
basic-cat/sphere_lim.pdf
basic-cat/sumL.pdf
basic-cat/sumR.pdf
basic-cat/sumtot.pdf
basic-cat/view.pdf

category-theory.idx
category-theory.tex
category-theory.log

math-structures.tex
math-structures.pdf
*.pdf
*.tex
/_minted-test/
/_minted-category-theory/
notes/compiled/info_rkt.dep
notes/compiled/info_rkt.zo
notes/compiled/main_rkt.dep
notes/compiled/main_rkt.zo
notes/lang/compiled/reader_rkt.dep
notes/lang/compiled/reader_rkt.zo
